.custom-card {
  background-color: black;
}
.custom-img-size {
  width: 100%;
  height: 300px;
}
.custom-space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
}
.star-icon {
  position: absolute;
  right: 0rem;
  padding: 10px;
  background-color: black;
}
.grade-icon {
  transform: scale(1.8);
}
