.badge {
  position: relative;
  margin-left: 60%;
  margin-top: -60%;
}
.bag-icon {
  position: absolute;
  top: 1rem;
  right: 2rem;
  transform: scale(2.5);
}
.wishlist-count {
  font-size: x-large;
  font-weight: bolder;
  color: black;
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  border-radius: 100%;
}
.btn-custom {
  border: none;
  color: none;
  background: transparent;
}
.wishlist-text {
  font-weight: bolder;
  font-size: x-large;
  margin-right: 3rem;
  color: white;
}
